<!DOCTYPE html>
<html>
<head>
    <title>Конференция НННФ</title>
    <link rel="icon" type="image/png" href="/images/n3ph.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{{{body}}}
</body>
</html>
