<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конференция НННФ</title>
    <link rel="stylesheet" href="styles/archive_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
                {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
                {{/if}}
            </div>
            <div>
                {{#if user}}
                    <a class="rel" href="/users/logout">Выйти</a>
                {{else}}
                    <a class="rel" href="/users/login">Войти</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="panel-left"></div>

    <div class="main-body">
        <div class="buttons">
            <div>
                <a href="archives/Программа-2024.pdf">Программа 2024 года</a>
                <a href="/collection2024">Сборник 2024 года</a>
            </div>
            <div>
                <a href="archives/Программа-2023.pdf">Программа 2023 года</a>
                <a href="archives/Сборник-2023.pdf">Сборник 2023 года</a>
            </div>
            <div>
                <a href="archives/Программа-2022.pdf">Программа 2022 года</a>
                <a href="archives/Сборник-2022.pdf">Сборник 2022 года</a>

            </div>

        </div>
    </div>

    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright © 2024 Polina Akishina</p>
    </div>

</body>
</html>
