
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Конференция НННФ</title>
        <link rel="stylesheet" type="text/css" href="styles/mainpage_style.css">
        <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
    </head>
    <body>

    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="nav-list">
                    <a class="rel" href="/">Главная страница</a>
                    <a class="rel" href="/archive">Архив</a>
                    <a class="rel" href="/komitet">Программный комитет</a>
                    <div class="drop">
                        <button>Смотреть трансляцию</button>
                        <div class="translation-list">
                            <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                            <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                        </div>
                    </div>
    {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
    {{/if}}
                </div>
                <div>
                    {{#if user}}
                        <a class="rel" href="/users/logout">Выйти</a>
                    {{else}}
                        <a class="rel" href="/users/login">Войти</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="panel-left"></div>

        <div class="main-body">
            <div class="logo-panel">
                <div class="logo">
                    <h2>XVIII ВСЕРОССИЙСКАЯ НАУЧНАЯ КОНФЕРЕНЦИЯ МОЛОДЫХ УЧЕНЫХ</h2>
                    <h1>НАНОЭЛЕКТРОНИКА НАНОФОТОНИКА И НЕЛИНЕЙНАЯ ФИЗИКА</h1>
                    <h3>г. Саратов, ул. Зеленая 38</h3>
                    <h3 id="date"></h3>
                </div>

                <div class="n3ph">
                    <img src="images/n3ph.png" alt="Эмблема конференции">
                </div>
            </div>

            <div class="registration">
                <a href="/users/register">Регистрация</a>
            </div>

            <div class="foto">
                <img src="images/сфирэран.jpg" alt="СФИРЭРАН">
                <h2>Саратовский филиал Института радиотехники и электроники им. В.А. Котельникова РАН</h2>

            </div>


            <div class="information">
                <div class="tematika">
                    <p>Тематика конференции</p>
                    Конференция является традиционной и проводится ежегодно с 2006 года. В нынешнем году проводится XVIII
                    Всероссийская научная конференция молодых ученых «Наноэлектроника, нанофотоника и нелинейная физика».
                    Тематика конференции традиционно включает актуальные проблемы физики микро- и наноструктур, физического
                    материаловедения, физики колебаний и волн и другие фундаментальные проблемы современной физики
                    направленные
                    на разработку физико-технологических основ создания устройств обработки информации. В рамках десятой
                    конференции предполагается заслушать доклады молодых ученых, аспирантов и студентов в возрасте до 35
                    лет.
                    Направления исследований, в рамках которых предполагается работа конференции, признаются мировым научным
                    сообществом наиболее значимыми и перспективными, им уделяется большое внимание в научной печати,
                    регулярно
                    проводятся симпозиумы и конференции, как в России, так и за рубежом. Кроме того, для повышения
                    квалификации
                    молодых ученых и преемственности научных школ предполагаются чтение лекций обзорного и вводного
                    характера
                    известными учеными, работающими в областях физики конденсированного состояния, технологии создания и
                    методам
                    исследования микро- и наноструктур и метаматериалов, оптики и лазерной физики, микро- и наноэлектроники,
                    опто-, радио- и акустоэлектроники, и др.
                    В 2014 году Саратовский филиал ИРЭ им. В.А. Котельникова РАН заключил с научной электронной библиотекой
                    договор, согласно которому труды конференции регистрируются в системе Российского индекса научного
                    цитирования.
                </div>
                <div class="napravlenie">
                    <p class="title">Доклады принимаются по направлениям</p>
                    <div id="textContainer">

                    </div>

                </div>
            </div>


        </div>

        <div class="panel-right"></div>


        <div class="footer">
            <p>Copyright © 2024 Polina Akishina</p>
        </div>
    </div>

    </body>

    <script>
        fetch('../list_of_sections.txt')
                .then(response => response.text())
                .then(text => {
                    const lines = text.split('\n').filter(line => line.trim() !== '');
                    const container = document.getElementById('textContainer'); // Контейнер для параграфов
                    let isReading = false;
                    let countOfComments = 0;
                    let ind = 0;

                    lines.forEach((line, index) => {
                        line = line.trim();

                        // Проверяем наличие комментария
                        if (line.startsWith('//')) {
                            countOfComments += 1;
                            return;
                        }
                        if (countOfComments === 2) isReading = true;
                        if (countOfComments === 3) isReading = false;

                        if (isReading) {
                            const paragraph = document.createElement('p');
                            paragraph.textContent = line.trim();

                            // Присваиваем класс в зависимости от четности индекса строки
                            if (ind % 2 === 0) {
                                paragraph.classList.add('doclad');
                            } else {
                                paragraph.classList.add('ruk');
                            }
                            ind += 1;
                            container.appendChild(paragraph);
                        }
                    });
                });
        fetch('../list_of_sections.txt')
                .then(response => response.text())
                .then(text => {
                    const lines = text.split('\n').filter(line => line.trim() !== '');
                    const dateElement = document.getElementById('date'); // Контейнер для параграфов
                    let countOfComments = 0;

                    lines.forEach((line, index) => {
                        line = line.trim();

                        // Проверяем наличие комментария
                        if (line.startsWith('//')) {
                            countOfComments += 1;
                            return;
                        }
                        if (countOfComments === 3) {
                            const firstDate = lines[index - 1].trim();
                            const secondDate = lines[index].trim();
                            console.log(firstDate);
                            console.log(secondDate);
                            const dateElement = document.getElementById('date');
                            dateElement.textContent = `${firstDate} - ${secondDate}`;
                            return;
                        }

                    });
                });
    </script>

    </html>

