<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Конференция НННФ</title>
    <link rel="stylesheet" href="styles/komitet_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
                {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
                {{/if}}
            </div>
            <div>
                {{#if user}}
                    <a class="rel" href="/users/logout">Выйти</a>
                {{else}}
                    <a class="rel" href="/users/login">Войти</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="panel-left"></div>

    <div class="main-body">
        <div class="content">
            <h2>Почетный Председатель конференции</h2>
            <p>Гуляев Ю.В. – академик, ИРЭ им. В.А.Котельникова РАН, Москва, Россия</p>
            <h2>Председатель программного комитета</h2>
            <p>Никитов С.А. – академик, ИРЭ им. В.А.Котельникова РАН, Москва, Россия</p>
            <h2>Зам. председателя программного комитета</h2>
            <p>Филимонов Ю.А. – д.ф.-м.н., СФ ИРЭ им. В.А.Котельникова РАН, Саратов Россия</p>
            <h2>Программный комитет</h2>
            <p>Безручко Б.П. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Вениг С.Б. – СГУ им. Н.Г. Чернышевского, Саратов, Россия</p>
            <p>Дмитриев А.С. – ИРЭ им. В.А.Котельникова РАН, Москва, Россия</p>
            <p>Зайцев Б.Д. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Короновский А.А. – СГУ им. Н.Г. Чернышевского, Саратов, Россия</p>
            <p>Кузнецов А.П. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Купцов П.В. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Мельников Л.А. – СГТУ им. Ю.А. Гагарина, Саратов, Россия</p>
            <p>Попов В.В. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Прохоров М.Д. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Сергеев В.А. – УФИРЭ им. В.А.Котельникова РАН, Ульяновск, Россия</p>
            <p>Смирнов В.М. – ФИРЭ им. В.А.Котельникова РАН, Фрязино, Россия</p>
            <p>Стальмахов А.В. – СГУ им. Н.Г. Чернышевского, Саратов, Россия</p>
            <p>Ушаков Н.М. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>
            <p>Шараевский Ю.П. – СГУ им. Н.Г. Чернышевского, Саратов, Россия</p>
            <p>Яфаров Р.К. – СФИРЭ им. В.А.Котельникова РАН, Саратов, Россия</p>

        </div>


    </div>

    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright © 2024 Polina Akishina</p>
    </div>
</div>
</body>
</html>