<!DOCTYPE html>
<html lang="en">
<head>
    <title>Конференция "Наноэлектроника, нанофотоника и нелинейная физика"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/registration_style.css">
    <link rel="shortcut icon" type="image/png" href="images/n3ph.png">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="nav-list">
                <a class="rel" href="/">Главная страница</a>
                <a class="rel" href="/archive">Архив</a>
                <a class="rel" href="/komitet">Программный комитет</a>
                <div class="drop">
                    <button>Смотреть трансляцию</button>
                    <div class="translation-list">
                        <div><a href="https://meet.google.com/fow-uatv-ddr">Конференц зал</a></div>
                        <div><a href="https://meet.google.com/iwi-mzag-bgc">Малый зал</a></div>
                    </div>
                </div>
                {{#if user}}
                    <a class="rel" href="/dashboard">Личный кабинет</a>
                {{/if}}
            </div>
            <div>
                {{#if user}}
                    <a class="rel" href="/users/logout">Выйти</a>
                {{else}}
                    <a class="rel" href="/users/login">Войти</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="panel-left"></div>

    <div class="main-body">
        <div class="login">
            <h3>Регистрация</h3>
            <form action="/users/register" method="POST">



                <div class="fio">
                    <div class="label">
                    <label>Фамилия</label>
                    <input type="text" class="form-control"  name="f" required>
                    </div>
                    <div class="label">
                    <label>Имя</label>
                    <input type="text" class="form-control"  name="i" required>
                </div>
                    <div class="label">
                    <label>Отчество</label>
                    <input type="text" class="form-control" name="o" required>
        </div>
                </div>




                <label>Организация</label>
                <input id="organisation" type="text" class="form-control"  name="organisation" required>

                <label>Должность</label>
                <input id="organisation" type="text" class="form-control" name="position" required>

                <div class="fio">
                    <div class="label">
                <label>Электронная почта</label>
                <input id="email" type="text" class="form-control"  name="email" required>
                    </div>
                        <div class="label">
                <label>Пароль</label>

                <input id="email" type="password" class="form-control"  name="password" required minlength="5">
                        </div>
                        </div>

                <div class="form-check" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <input class="form-check-input" type="checkbox" id="consent" name="consentGiven" required style="width: max-content; margin-right: 1rem;">
                    <label class="form-check-label" for="consent">
                        Я соглашаюсь с <a href="/Политика%20конфиденциальности.pdf" target="_blank" style="color: #1e5479; text-decoration: underline;">политикой в отношении персональных данных</a>
                    </label>
                </div>

                <button type="submit" >Подвердить</button>

            </form>

        </div>

    </div>

    <div class="panel-right"></div>


    <div class="footer">
        <p>Copyright 2024 Polina Akishina</p>
    </div>
</div>

{{#if errors}}
    {{#each errors}}
        <p>{{this.msg}}</p>
    {{/each}}
{{/if}}

</body>

<script>
    $("#organisation").replaceWith('<textarea id="organisation" name="organisation" cols="40" rows="5"></textarea>');
</script>

</html>
