* {
    margin: 0;
}
html {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.1);
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100%;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}


.container {
    display: grid;
    height: 100%;
    grid-template-columns:
 [left] 10rem auto 10rem [right];
    grid-template-rows:
 [top] auto auto 5rem [bottom];
    grid-template-areas:
 "head head head"
 "panleft mainbody panright"
 "foot foot foot";
}

.header {
    grid-area: head;
    margin-bottom: 4rem;
}

.navbar{
    display: flex;
    background-color: #1e5479;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.navbar a{
    color: white;
    display: block;
    padding: 1em;
}

.navbar a:hover{
    background-color: #5a7b91;
}

.translation-list{
    display: none;
    background-color: #1e5479;
    padding: 1em;
}

.navbar button{
    display: block;
    padding: 1em;
    color: white;
    border-style: none;
    background-color: #1e5479;
    font-size: 16px;
}

.navbar button:hover{
    background-color: #5a7b91;
}

.drop:hover .translation-list {
    display: flex;
    flex-direction: column;
}

.panel-left { /* if element id="panel" and class="left" */
    grid-area: panleft; /* this element fills a grid area */
}
.panel-right { /* if element id="panel" and class="right" */
    grid-area: panright; /* this element fills a grid area */
}


.main-body {
    display: flex;
    flex-direction: column;
    grid-area: mainbody;
    justify-self: center;
    width: 100%;
    min-width: 22.5rem;
    min-height: 36rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.buttons>div{
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
}

.buttons a{
    display: block;
    background-color: #1e5479;
    color: white;
    border-color: rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    border-width: 5px;
    margin: 1rem;
    padding: 3rem;
    font-size: 25px;
    margin-right: 6rem;
    margin-right: 6rem;
}

.buttons a:hover{
    background-color: #5a7b91;
}

.footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.list a {
    text-decoration-line: underline;
}

.list a:hover {
    background-color: #5a7b91;
}